@import '../global.scss';

.bg-body-tertiary {

    background-color: $color-paleta2-2 !important;

}

.text-muted {
    color: $color-paleta2-4 !important;
}

.container {
    color: $color-paleta2-4 !important;

}

.parag {
    text-align: justify;
    

    @media only screen and (max-width: 48rem) { 
        margin-left: 3rem;
    }
}

.titulo-footer {
    padding-left: 0.1px;
    @media only screen and (max-width: 48rem) { 
        margin-left: 3rem;
    }
}

.upper-footer-left {
    padding-left: 1.8rem;
}
.upper-footer-right {
    padding-right: 1.3rem;
    font-size: 2rem;
    @media only screen and (max-width: 48rem) { 
        padding-right: 0.1rem;
    }
}

.row {
    margin-left: -4rem;
    //margin-right: -16rem;
}