$color-red: red;
$color-white: white;
$color-black: black;
$color-main: #22EACA;
$color-2: #B31E6F;
$color-3: #EE5A5A;
$color-4: #FF9E74;
$color-grey: #e0e0e0;
$color-title: #333333;
$color-paragraph: #666666;
$color-white-transparent: rgba(255, 255, 255, 0.7);
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-paleta2-1: #191919;
$color-paleta2-2: #2D4263;
$color-paleta2-3: #C84B31;
$color-paleta2-4: #ECDBBA;